.outer{
    background-color: #2d2d2d;
    width: 7.8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px 10px 10px 5px;
    border-left: 6px solid #b4fff6;
    text-align: left;
    padding-left: 1rem;
    position: relative;
    margin: 0.6rem 0 0 0.3rem;
}

.time{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
}

.titleHolder{
    position: absolute;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    left: 0.5rem;
    line-height: 1.2;
}

.mainTitle{
    font-family: 'Poppins';
    font-weight: 600;
    color: beige;
    font-size: 1rem;
    display: inline-block;
}

.subTitle{
    font-family: 'Poppins';
    font-weight: 400;
    color: #999999;
    font-size: 0.8rem;
}

.symbolOuter{
    position: absolute;
    top: 70%;
    left: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reduce{
    width: 2.3vw;
}

.add{
    width: 2.3vw;
}

.number{
    font-family: 'Poppins';
    font-size: large;
    font-weight: 500;
    padding: 0 0.3rem 0 0.3rem;
}