.outer{
    background-color: #47ecd9;
    width: 10.5vw;
    height: 9vw;
    border-radius: 10px;
    position: relative;
    margin: 0.3rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.titleHolder{
    position: absolute;
    left: 5%;
    top: 65%;
    text-align: left;
    line-height: 1;
}

.mainTitle{
    font-family: 'Poppins';
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    display: block;
}

.subTitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #4d4d4d ;
    text-align: left;
    
}

.image{
    width: 25%;
    position: absolute;
    left: 5%;
    top: 5%;
}